extends layout

block content
  style
    :stylus
      [class*=gray]
        color white
        padding 10px

      .gray--base
        background gray--base
      .gray--light
        background gray--light
      .gray--lighter
        background gray--lighter
      .gray--lightest
        background gray--lightest
      .gray--dark
        background gray--dark
      .gray--darker
        background gray--darker
      .gray--darkest
        background gray--darkest

  mixin gray(suffix)
    p(class='gray--#{suffix}') gray--#{suffix}

  +gray('lightest')
  +gray('lighter')
  +gray('light')
  +gray('base')
  +gray('dark')
  +gray('darker')
  +gray('darkest')
