extends layout

block content
  form(method="POST")
    input(type="text", placeholder="organization", name="org")
    input(type="text", placeholder="repository", name="repo")
    input(type="submit", value="View")