extends layout

block content
  h2 Paragraphs

  p.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat sit amet ipsum non consequat. Mauris aliquet libero sit amet tristique rutrum. Nulla sollicitudin vestibulum dolor ut faucibus. Phasellus sed tortor diam. Praesent quis est id tellus volutpat sagittis vel eget odio. Nunc porttitor vel turpis eget consectetur.

  p.
    Nulla gravida justo mauris, vel facilisis quam feugiat vel. Quisque lobortis placerat sem, nec dictum nisl vestibulum vitae. Morbi viverra dapibus nulla vitae bibendum. Fusce ullamcorper at leo non lobortis. Aliquam ultricies posuere massa, vitae mattis nunc semper id. Nullam pharetra justo tincidunt cursus pharetra. Duis tincidunt auctor mauris, ac accumsan tellus. Praesent eget rhoncus mi. Nunc volutpat nibh nunc, vel sodales arcu consequat id. Sed est risus, dapibus sed pharetra facilisis, pulvinar nec ante. Nullam congue mi vel ipsum ultricies commodo. Nam at erat porta, volutpat lacus sed, tempus metus. Quisque egestas mauris rhoncus tortor vehicula euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus scelerisque, tortor sit amet elementum lacinia, ante erat interdum metus, vitae facilisis eros augue in nunc.

  p.
    Praesent vitae bibendum turpis, a scelerisque lacus. Donec scelerisque varius lorem eget condimentum. Integer ut arcu congue, ultrices dolor a, varius lectus. Pellentesque feugiat pulvinar lorem, non porta justo egestas pulvinar. Cras bibendum consequat posuere. Donec tortor justo, porta nec sem vel, ullamcorper tristique risus. Quisque tempus eget ligula nec suscipit. Sed vel turpis at magna sodales vulputate ac ac magna. Praesent mattis leo porttitor lacus fringilla mollis. Maecenas magna tellus, convallis sit amet nibh eu, venenatis tristique leo. Morbi facilisis tellus non velit faucibus, eget tempor lacus accumsan. Quisque at ligula quam.

  h2 Lists

  h3 Unordered list
  ul
    li The quick brown fox jumps over the lazy dog
    li The quick brown fox jumps over the lazy dog
    li The quick brown fox jumps over the lazy dog
    li The quick brown fox jumps over the lazy dog

  h3 Ordered list
  ol
    li The quick brown fox jumps over the lazy dog
    li The quick brown fox jumps over the lazy dog
    li The quick brown fox jumps over the lazy dog
    li The quick brown fox jumps over the lazy dog

  h3 Description list
  dl
    dt Definition term 1
    dd Description 1
    dt Definition term 2
    dd Description 2

  h2 Headings

  h1 h1. The quick brown fox jumps over the lazy dog
  h2 h2. The quick brown fox jumps over the lazy dog
  h3 h3. The quick brown fox jumps over the lazy dog
  h4 h4. The quick brown fox jumps over the lazy dog
  h5 h5. The quick brown fox jumps over the lazy dog
  h6 h6. The quick brown fox jumps over the lazy dog

  h2 Bold

  p The following snippet of text is <strong>rendered as bold text</strong>.

  h2 Italics

  p The following snippet of text is <em>rendered as italicized text</em>.

  h2 Blockquotes

  blockquote.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat sit amet ipsum non consequat. Mauris aliquet libero sit amet tristique rutrum.